<!DOCTYPE html>
<html lang="en">
<head>
  <title>PE Tracker</title>
  <meta charset="UTF-8">
</head>
<body>
  <h1>Welcome to PE-Tracker</h1>
  <% buttons.forEach(function(b) { %>
    <button id="<%= b.id %>" onclick="javascript:send(<%= b.id %>);">
      <%= b.name %>
    </button>
    <h3 id="<%= b.name %>"><%= b.count %></h3>
  <% }); %>
  <button id="reset" onclick="javascript:send(3)">Reset</button>
  <p id="output"></p>
  <script>
    const output = document.getElementById("output")
    const critique = document.getElementById("Critique");
    const praise = document.getElementById("Praise");
    const send = async function(buttonId) {
      const response = await fetch("/log", {
        method: "POST",
        headers: {
          "Accept": "application/json",
          "Content-Type": "application/json"
        },
        body: JSON.stringify({
          id: buttonId
        })
      });
      const result = await response.json();
      if (result.error) {
        output.innerHTML = `<strong>ERROR: ${result.error.routine}</strong>`;
      }
      else {
        console.log(result);
        if (result.buttonId == 3) {
          output.innerHTML = 'Your counts have been reset.';
          critique.innerHTML = `${result.newCount.new_count}`;
          praise.innerHTML = `${result.newCount.new_count}`;
        } else if (result.buttonId == 2) {
          output.innerHTML = '';
          critique.innerHTML = `${result.newCount.new_count}`;
        } else {
          output.innerHTML = '';
          praise.innerHTML = `${result.newCount.new_count}`;
        }
      }
    };
  </script>
</body>
</html>